<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <meta name="google-site-verification" content="y_Xk9Ji1Qbw9dcKOzLLxYUppKENI4vw00yqOy_WIUAs" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <script type="module">
      Array.from(document.getElementsByClassName("language-mermaid")).forEach(element => {
        element.classList.add("mermaid");
      });
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true, theme: "dark" });
    </script>

  </body>
</html>